{% extends 'gestion/base.html' %}
{% block content %}

<section style="max-width:900px; margin:50px auto; padding:30px;">
    <h2>Clientes Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
